---
import Staff from "../components/Staff.astro";
import type { Pitch, Duration, Note } from "../types/piano";
const pitches: Pitch[] = ["C", "D", "E", "F", "G", "A", "H"];
const notes = pitches.map<Note>((pitch) => ({ pitch, duration: 0.25 }));
---

<html>
  <body style="padding: 0; border: 0; margin: 0;">
    <svg
      width="600"
      height="400"
      viewBox="0 0 300 200"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g transform="translate(10, 50)">
        <Staff notes={notes} />
      </g>
    </svg>
  </body>
</html>
