---
import type { SheetMusic as SheetMusicType } from "@/types/piano";

const allNotes = Object.entries(
  import.meta.glob("../notes/*.json", { eager: true })
).map(([fileName, content]) => ({
  note: fileName.replace("../notes/", "").replace(".json", ""),
  title: (content as SheetMusicType).title,
}));
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="grid">
      <div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/example">Przykłady</a></li>
          </ul>
          <h3>Sheets</h3>
          <ul>
            {
              allNotes.map(({ note, title }) => (
                <li>
                  <a href={`/sheets/${note}`}>{title}</a>{" "}
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
      <main class="main">
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }

  .main {
    padding: 1rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    /* min-height: 100vh; */
  }
</style>
